body {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    overflow-x: hidden;
}

.main-container{
    width: 80%;
    margin: 0 auto;
}

.flex-vert{
    display: flex;
    flex-direction: column;
}

.flex-hor{
    display: flex;
    flex-direction: row;
}

.flex-hor-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
}

.background-1{
    background: white;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    overflow-x: hidden;
    position: relative;
}

.background-2{
    background: #262626;
    width: 100%;
    position: relative;
}

.background-3{
    background: white;
    width: 100%;
    position: relative;
    color: #262626;
}

.flex-hor-tiles a{
    display: inline-block;
    width: 31%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.flex-hor-tiles a:link{
    text-decoration: none;
    color: black;
}

.flex-hor-tiles a:visited {
    color: black;
}

.flex-hor-tiles a:active {
    color: black;
}